<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="CONSOLE_SYNC" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf8</charset>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-30.30logger{29}){cyan} : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE_SYNC" />

        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
        <maxFlushTime>1000</maxFlushTime>
    </appender>

    <appender name="STREAM_INTERNAL" class="fit.kltn_cookinote_backend.configs.StreamLogAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15.15t] %-30.30logger{29} : %msg%n</pattern>
        </layout>
    </appender>

    <appender name="STREAM_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STREAM_INTERNAL" />
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>

    <logger name="fit.kltn_cookinote_backend" level="DEBUG" />

    <logger name="org.hibernate.SQL" level="DEBUG" />

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="CONSOLE_ASYNC" />
        <appender-ref ref="STREAM_ASYNC" />
    </root>

</configuration>