<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="CONSOLE_SYNC" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf8</charset>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE_SYNC" />

        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold> <includeCallerData>false</includeCallerData> </appender>

    <appender name="STREAM_INTERNAL" class="fit.kltn_cookinote_backend.configs.StreamLogAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n</pattern>
        </layout>
    </appender>

    <appender name="STREAM_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STREAM_INTERNAL" />
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>

    <logger name="fit.kltn_cookinote_backend" level="DEBUG" />

    <logger name="org.hibernate.SQL" level="INFO" />
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="INFO" />

    <root level="INFO">
        <appender-ref ref="CONSOLE_ASYNC" />
        <appender-ref ref="STREAM_ASYNC" />
    </root>

</configuration>